<div class="col-md-offset-4 col-md-8">
	<h2>{% trans  %}reset password{% endtrans %}</h2>
</div>
<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<form  action="{{path('user.doresetpassword')}}" method="post">


		{{ form_errors(form)}}
			<!-- <div class="input-group">
				<span class="input-group-addon"></span>
				{{ form_widget(form.username) }}
			</div>
			<br> -->
		    <div class="input-group">
				<span class="input-group-addon"></span>
		  		{{ form_widget(form.email) }}
			</div>
			<br>
		{{ form_rest(form)}}
			<div class="col-md-3"></div>
		    <div class="col-md-6">
		    <input class="btn btn-info btn-block" type="submit" name="submit">
		    <br>
			</div>

		</form>
	</div>
</div>