{% extends layout %}
{% block bodyClass %}pronostics{% endblock %}
{% block matchClass %}active{% endblock %}
{% block body %}
<div id="content">

    <h1>{% trans %} matchs list {% endtrans %}</h1>
    () -> {% trans %} my pronostics{% endtrans %}
     <form action="{{path('bet.doBet')}}" method="post">
   
        {% for match in matchs %}
            <div class="row match">
                <div class="col-md-3"></div>
                <div class="col-md-6 matchForm">
                    <table>
                        <tbody>
                            <tr>
                                
            {% set firstTeam = true %}

            {% for team in match.teams %}

                
                {% if firstTeam == false and ( team.score is not null or "now"|date('YmdHi')  > match.date|date_modify("-15 minute")|date('YmdHi') ) %}
                    <td class="ext">
                        {% for bet in team.bet %}
                            {% if bet.idplayers.username == app.security.token.user.username %}
                                ( <b>{{bet.score}}</b> )
                            {% endif %}
                        {% endfor %}
                        {{team.score}}  
                        
                        {% if team.pen is not null %}
                            pen {{team.pen}}
                        {% endif %}
                    </td>
                {% elseif firstTeam == false and ( "now"|date('YmdHi')  < (match.date|date_modify("-15 minute")|date('YmdHi')) ) %}
                    <td class="ext">
                        {{ render(url('bet.betForm', { idMatchTeam : team.idmatchteam}))}}
                    </td>
                {% endif %}
                    {% if firstTeam == true %}
                    <td class="int"><img src="{{ app.request.basepath }}/img/flag/medium/{{team.idteams.countries.isoNum}}.png" alt="{{team.idteams.countries.nameFr}}" title ="{{team.idteams.countries.nameFr}}" /></td>
                    {% endif %} 
                    <td class="int">{{team.idteams.countries.isoAlpha3}}</td>
                    {% if firstTeam == false %}
                        <td class="ext"><img src="{{ app.request.basepath }}/img/flag/medium/{{team.idteams.countries.isoNum}}.png" alt="{{team.idteams.countries.nameFr}}" title ="{{team.idteams.countries.nameFr}}" /></td>
                    {% endif %} 
                
                {% if firstTeam == true and ( team.score is not null or "now"|date('YmdHi')  > match.date|date_modify("-15 minute")|date('YmdHi') ) %}
                    <td class="int">  
                        {{team.score}}
                       {% for bet in team.bet %}
                            {% if bet.idplayers.username == app.security.token.user.username %}
                                ( <b>{{bet.score}}</b> )
                            {% endif %}
                       {% endfor %}
                       {% if team.pen is not null %}
                            pen {{team.pen}} 
                       {% endif %}
                    </td>   
                {% elseif firstTeam == true and ("now"|date('YmdHi')  < match.date|date_modify("-15 minute")|date('YmdHi') ) %}
                    <td class="int">  
                        {{ render(url('bet.betForm', { idMatchTeam : team.idmatchteam}))}} 
                    </td>     
                {% endif %}
                
                {% if firstTeam == true %}
                    <td>
                            -
                    </td>
                {% endif %}

                {% set firstTeam = false %}
            {% endfor %}
                <td> 
                    {% if "now"|date('YmdHi') > match.date|date('YmdHi') and render(url('bet.getPlayerScore', {player : app.security.token.user.username, idMatch : match.idmatchs} )) != "" %}
                        {{ render(url('bet.getPlayerScore', {player : app.security.token.user.username, idMatch : match.idmatchs} ))}} {% trans %}pts{% endtrans %}
                    {% endif %}
                </td> 
                        </tr>
                    </tbody>
                </table>
            <h4 class="matchInfos">{{match.type}} - {{match.stadium}} - {{match.date|date('j/m/Y H:i')}}</h4>
            </div>
        </div>
        {% endfor %}

    <div class="row saveButton">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <input type="submit" class="btn btn-info btn-block" name="submit" />
        </div>
        <div class="col-md-5"></div>
    </div>
            
    </form>
    
</div>
{% endblock %}