{% extends layout %}

{% block body %}
<div id="content">

    <legend>{% trans %} matchs list {% endtrans %}</legend>
    () -> {% trans %} my pronostics{% endtrans %}
     <form action="{{path('bet.doBet')}}" method="post">
    <table>
   
        {% for match in matchs %}
            <tr>
                <td>{{match.date|date('j/m/Y H:i')}}</td> 
                <td>{{match.stadium}}</td> 
                {% set firstTeam = true %}

            {% for team in match.teams %}

                <td>
                    {% if firstTeam == false and ( team.score is not null or "now"|date('YmdHi')  > match.date|date('YmdHi') ) %}
                        {{team.score}}  
                        {% for bet in team.bet %}
                            {% if bet.idplayers.username == app.security.token.user.username %}
                                ( {{bet.score}} )
                            {% endif %}
                        {% endfor %}
                        
                        {% if team.pen is not null %}
                            pen {{team.pen}}
                        {% endif %}
                    {% elseif firstTeam == false and (team.score is null or "now"|date('YmdHi')  < match.date|date('YmdHi') ) %}
                        {{ render(url('bet.betForm', { idMatchTeam : team.idmatchteam}))}}
                    {% endif %}
                </td>
                    {% if firstTeam == true %}
                    <td><img src="{{ app.request.basepath }}/img/flag/medium/{{team.idteams.countries.isoNum}}.png" alt="{{team.idteams.countries.nameFr}}" title ="{{team.idteams.countries.nameFr}}" /></td>
                    {% endif %} 
                    <td>{{team.idteams.countries.isoAlpha3}}</td>
                    {% if firstTeam == false %}
                        <td><img src="{{ app.request.basepath }}/img/flag/medium/{{team.idteams.countries.isoNum}}.png" alt="{{team.idteams.countries.nameFr}}" title ="{{team.idteams.countries.nameFr}}" /></td>
                    {% endif %} 
                <td>
                    {% if firstTeam == true and ( team.score is not null or "now"|date('YmdHi')  > match.date|date('YmdHi') ) %}
                       {{team.score}}
                       {% for bet in team.bet %}
                            {% if bet.idplayers.username == app.security.token.user.username %}
                                ( {{bet.score}} )
                            {% endif %}
                       {% endfor %}
                       {% if team.pen is not null %}
                            pen {{team.pen}} 
                       {% endif %}
                        
                    {% elseif firstTeam == true and (team.score is null or "now"|date('YmdHi')  < match.date|date('YmdHi') ) %}
                        {{ render(url('bet.betForm', { idMatchTeam : team.idmatchteam}))}} 
                    {% endif %}
                </td> 
                {% if firstTeam == true %}
                    <td>
                            -
                    </td>
                {% endif %}

                {% set firstTeam = false %}
            {% endfor %}
                <td> 
                    {% if "now"|date('YmdHi') > match.date|date('YmdHi') and render(url('bet.getPlayerScore', {player : app.security.token.user.username, idMatch : match.idmatchs} )) != "" %}
                        {{ render(url('bet.getPlayerScore', {player : app.security.token.user.username, idMatch : match.idmatchs} ))}} {% trans %}pts{% endtrans %}
                    {% endif %}
                </td> 
            </tr>
        {% endfor %}
    
    </table>
            <input type="submit" class="btn" name="submit" />
    </form>
    
</div>
{% endblock %}