{% extends layout %}
{% block bodyClass %}pronostics{% endblock %}
{% block adminClass %}active{% endblock %}
{% block body %}
<div id="content">

    <h1>{% trans %} matchs list {% endtrans %}</h1>

    <form action="{{path('match.doScore')}}" method="post">
   
        {% for match in matchs %}
            <div class="row match">
                <div class="col-md-3"></div>
                <div class="col-md-6 matchForm">
                    <table>
                        <tbody>
                            <tr>
                {% set firstTeam = true %}

            {% for team in match.teams %}

                <td class="ext">
                    {% if firstTeam == false and team.score is not null %}
                        {{team.score}}                   
                        {% if team.pen is not null %}
                            pen {{team.pen}}
                        {% endif %}
                    {% elseif firstTeam == false and (team.score is null and "now"|date('YmdHi') > match.date|date('YmdHi') ) %}
                        {{ render(url('match.scoreForm', { idMatchTeam : team.idmatchteam}))}}
                    {% endif %}
                </td>
                    {% if firstTeam == true %}
                    <td class="int"><img src="{{ app.request.basepath }}/img/flag/medium/{{team.idteams.countries.isoNum}}.png" alt="{{team.idteams.countries.nameFr}}" title ="{{team.idteams.countries.nameFr}}" /></td>
                    {% endif %} 
                    <td class="int">{{team.idteams.countries.isoAlpha3}}</td>
                    {% if firstTeam == false %}
                    <td class="ext"><img src="{{ app.request.basepath }}/img/flag/medium/{{team.idteams.countries.isoNum}}.png" alt="{{team.idteams.countries.nameFr}}" title ="{{team.idteams.countries.nameFr}}" /></td>
                    {% endif %} 
                <td class="int">
                    {% if firstTeam == true and team.score is not null %}
                       {{team.score}}
                       {% if team.pen is not null %}
                            pen {{team.pen}} 
                       {% endif %}
                        
                    {% elseif firstTeam == true and (team.score is null and "now"|date('YmdHi') > match.date|date('YmdHi') ) %}
                        {{ render(url('match.scoreForm', { idMatchTeam : team.idmatchteam}))}} 
                    {% endif %}
                </td> 
                {% if firstTeam == true %}
                    <td>
                            -
                    </td>
                {% endif %}
                {% set firstTeam = false %}
            {% endfor %}
            <td> 
                    {% if "now"|date('YmdHi') > match.date|date('YmdHi') and render(url('bet.getPlayerScore', {player : app.security.token.user.username, idMatch : match.idmatchs} )) != "" %}
                        {{ render(url('bet.getPlayerScore', {player : app.security.token.user.username, idMatch : match.idmatchs} ))}} {% trans %}pts{% endtrans %}
                    {% endif %}
            </td> 
                        </tr>
                    </tbody>
                </table>
            <h4 class="matchInfos">{{match.type}} - {{match.stadium}} - {{match.date|date('j/m/Y H:i')}}</h4>
            </div>
        </div>
        {% endfor %}
    
  <div class="row saveButton">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <input type="submit" class="btn btn-info btn-block" name="submit" />
        </div>
        <div class="col-md-5"></div>
    </div>
    </form>
    
</div>
{% endblock %}