
    
<form action="{{path('tournament.doadd')}}" method="post">
    {{ form_errors(form)}}
    <div class="col-md-4">
        <div class="input-group">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_rest(form)}}
        </div>
            
    </div>
    <div class="col-md-2">
        <input type="submit" class="btn btn-info btn-block" name="submit" />
    </div>  
</form>

  
