{% extends layout %}

{% block body %}
<div id="content">

    <legend>{% trans %} new tournament {% endtrans %}</legend>
    {{ render(url('tournament.add')) }}
    
    {{ render(url('tournament.mytournaments'))}}
    
    <legend>{% trans %} tournaments list {% endtrans %}</legend>
    <p>
    {% for tournament in tournaments %}
        {{tournament.name}} - {{tournament.year|date('d-M-Y')}} - 
        <a href="{{path('tournament.join', { idTournament : tournament.idTournament } )}}">{% trans %}join{% endtrans %}</a>
        <br/>
    {% endfor %}
    </p>
    
</div>
{% endblock %}