
{% block body %}
<div class="row">
    <div class="col-md-12">
        <table>
            {% for mytournament in myTournaments %}
                <tr>
                    {% for player in mytournament.players %}
                        {% if player.isaccepted == true %}
                            <td><a href="{{path('tournament.view', { idTournament : mytournament.idTournament } )}}">{{mytournament.name}} </a></td>
                            <td><img src="{{ app.request.basepath }}/img/rank.png" alt="rank icon" title="rank icon" width="20px" height="20px"/></td>
                            <td>{{render(url('tournament.ranking', { idTournament : mytournament.idTournament } ))}}</td>
                            <td></td>
                        {% else %}
                            <td colspan="2">{{mytournament.name}}</td>
                            <td colspan="2">{% trans %}accept waiting{% endtrans %}</td>
                        {% endif %}
                    {% endfor %}

                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}