{% extends layout %}
{% block bodyClass %}pool{% endblock %}
{% block tournamentClass %}active{% endblock %}
{% block body %}

<h1>{{tournament.name}}</h1>

 <div class="row playersInfos">
    <div class="col-md-12">
        <h3>{% trans %}ranking{% endtrans %} :</h3>

        <table>
            <tbody>
                <tr>
                    <th>Joueur</th>
                    <th>Prono. ok</th>
                    <th>Prono. non ok</th>
                    <th>Points</th>
                </tr>
                {% for player in tournamentplayers %}
                    {% for tournplayer in tournament.players %}
                        {% if tournplayer.idplayers == player and tournplayer.isaccepted == true %}
                            <tr>
                                <td><a href="{{path('match.playerMatchBet', { idplayers : tournplayer.idplayers.idplayers} )}}">{{player.username|capitalize }}</a></td>
                                <td>{{player.rightpronostics}}</td>
                                <td>{{player.wrongpronostics}}</td>
                                <td>
                                    {{player.score}} {% trans %}pts{% endtrans %}
                                <td>
                                    {% if currentUserAdmin == true %}
                                <td>
                                {% if tournplayer.isadmin == true %}
                                    <a href="{{path('tournament.refuse', { idTournPlayers : tournplayer.idtournplayers} )}}">{% trans %}remove{% endtrans %}</a><br/>
                                    <a href="{{path('tournament.removeAdmin', { idTournPlayers : tournplayer.idtournplayers} )}}">{% trans %}removeAdmin{% endtrans %}</a>
                                {% else %}
                                    <a href="{{path('tournament.refuse', { idTournPlayers : tournplayer.idtournplayers} )}}">{% trans %}remove{% endtrans %}</a><br/>
                                    <a href="{{path('tournament.setAdmin', { idTournPlayers : tournplayer.idtournplayers} )}}">{% trans %}setAdmin{% endtrans %}</a>
                                {% endif %}
                               </td>
                               {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row playersInfos">
    <div class="col-md-10">
        <h3>{% trans %}add asking{% endtrans %}</h3>
            {% for player in tournament.players %}
                <div class="row">
                {% if player.isaccepted == false %}
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                    {{player.idplayers.firstname|capitalize}} {{player.idplayers.lastname|capitalize}}
                    </div>
                    {% if currentUserAdmin == true %}
                        <div class="col-md-2">
                            <a href="{{path('tournament.accept', { idTournPlayers : player.idtournplayers} )}}"><button class="btn btn-info btn-block" type="button">{% trans %}accept{% endtrans %}</button></a>
                        </div>
                        <div class="col-md-2">
                            <a href="{{path('tournament.refuse', { idTournPlayers : player.idtournplayers} )}}"><button class="btn btn-info btn-block" type="button">{% trans %}refuse{% endtrans %}</button></a>
                        </div>
                    {% endif %}
                {% endif %}
                </div>
            {% endfor %}
    </div>
</div>

<div class="row playersInfos">
    <div class="col-md-10">
        <h3>{% trans %} invite player {% endtrans %}</h3>
        <div class="col-md-1"></div>
        {{ render(url('tournament.invite', { idTournament : tournament.idtournament}))}}
    </div>
</div>

{% endblock %}
