{% extends layout %}
{% block bodyClass %}accueil{% endblock %}
{% block homeClass %}active{% endblock %}
{% block body %}
<div id="content">
    <h1>Pronostics</h1>
    {% if is_granted('ROLE_USER') %}
    <div class="row summary ">
        <div class="col-md-4 ">
        </div>
        <div class="col-md-5 generalRank">
            <h3>{% trans %}general ranking{% endtrans %}</h3>
            <p><b>{{ render(url('bet.getCurrentPlayerTotalScore'))}} {% trans %} pts {% endtrans %}</b></p>
            <p><b>{{ render(url('bet.getCurrentPlayerRanking')) }}</b></p>
        </div>
    </div>
    {% endif %}
    <div class="row loginForm">
        <div class="col-md-1"></div>
            {% if is_granted('ROLE_USER') %}
                <div class="col-md-6">
                {{ render(url('tournament.mytournaments'))}}
                </div>
            {% else %}
                <div class="col-md-4">
                {{ render(url('login'))}}
                </div>
            {% endif %}
        <div class="col-md-1"></div>
        <div class="col-md-5 bestPlayers">
            <h3>{% trans %}best players{% endtrans %}</h3>

            {{ render(url('bet.best'))}}
            <div class="col-md-1"></div>
        </div>
    </div>
    {{ render(url('match.nextPrevious'))}}
</div>
{% endblock %}