<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>{% block title %}{% trans %}site_title{% endtrans %}{% endblock %}</title>
            {% block stylesheets %}{% endblock %}
    		
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <!--<link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
            	<link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap-theme.css" rel="stylesheet">-->
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/general.css">
            <link href="{{ app.request.basepath }}/css/mobile.css" media="screen and (max-width: 1025px)" rel="stylesheet">
            <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
            <script src="{{ app.request.basepath }}/js/jsContent.js"></script>
            
            <!--[if lt IE 10]>
                <script charset="utf-8" type="text/javascript" src="{{ app.request.basepath }}/js/placeholderIE.js"></script>
            <![endif]-->

            
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        <header>
            
        </header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://fr.fifa.com/worldcup/">FIFA World Cup 2014</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="{% block homeClass %}{% endblock %}"><a href="{{ path('index.index') }}">{% trans %}home{% endtrans %}</a></li>
                        <li class="{% block tournamentClass %}{% endblock %}"><a href="{{ path('tournament.index') }}">{% trans %}tournament{% endtrans %}</a></li>
                        <li class="{% block matchClass %}{% endblock %}"><a href="{{ path('match.index') }}">{% trans %}pronostics{% endtrans %}</a></li>
                        <li class="{% block poolClass %}{% endblock %}"><a href="{{ path('team.pool') }}">{% trans %}pool{% endtrans %}</a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('deconnexion') }}">{% trans %}logout{% endtrans %}</a></li>
                            <li><a href="{{ path('user.account') }}">{% trans %}my account{% endtrans %}</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="{% block adminClass %}{% endblock %}"><a href="{{ path('match.matchToScore') }}">{% trans %}admin{% endtrans %}</a></li>
                        {% endif %}
                        <li class="{% block contactClass %}{% endblock %}"><a href="{{ path('index.contact') }}">{% trans %}contact{% endtrans %}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>-->
                        <span style="color:#777777;font-style: italic; font-size: 9px">Powered by Fabrice Brebion & Nicolas Penloup<br/>Designed by Jeremie Vallee</span>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <section id="container">
            {% include 'flash-message.twig' %}
            {% block body %}{% endblock %}	
        </section>
        <footer>
        </footer>
        
        <!--<script charset="utf-8" type="text/javascript" src="{{ app.request.basepath }}/js/bootstrap.js"></script>-->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <!-- Styles pour jScrollPane -->
        <script charset="utf-8" type="text/javascript" src="{{ app.request.basepath }}/js/jquery.min.js"></script>
    </body>
</html>