<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>{% block title %}{% trans %}site_title{% endtrans %}{% endblock %}</title>
            {% block stylesheets %}{% endblock %}
            <link rel="stylesheet" href="{{ app.request.basepath }} /js/JQuery/jquery-ui.css" type="text/css" />
            <!-- Styles pour jScrollPane -->
            <script charset="utf-8" type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
            <!--script charset="utf-8" type="text/javascript" src="{{ app.request.basepath }}/js/jquery.nivo.slider.pack.js"></script>-->
            <!-- Latest compiled and minified CSS -->
            <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.css">
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap-responsive.css">
            <!--<link rel="stylesheet" href="{{ app.request.basepath }}/css/nivo-slider.css">
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/themes/default/default.css">-->
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css">
    </head>
    <body>
        <header>
            
        </header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
              <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Pronostics</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="{{ path('index.index') }}">{% trans %}home{% endtrans %}</a></li>
                        <li><a href="{{ path('tournament.index') }}">{% trans %}tournament{% endtrans %}</a></li>
                        <li><a href="{{ path('match.index') }}">{% trans %}pronostics{% endtrans %}</a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('deconnexion') }}">{% trans %}logout{% endtrans %}</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}">{% trans %}login{% endtrans %}</a></li>
                        {% endif %}
                        <li><a href="{{ path('user.signup') }}">{% trans %}signup{% endtrans %}</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('match.matchToScore') }}">{% trans %}matchs results{% endtrans %}</a></li>
                        {% endif %}
                    </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </nav>  
        <section id="content">
            {% include 'flash-message.twig' %}
            {% block body %}{% endblock %}	
        </section>
        <footer>
        </footer>
    </body>
</html>